################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/DevOpsMetricsApp/.vs/DevOpsMetricsApp/FileContentIndex/569610de-7441-4118-a325-bec4d7863639.vsidx
/src/DevOpsMetricsApp/.vs/DevOpsMetricsApp/FileContentIndex/65d5f8a8-2bb4-4420-9b81-0ca94a9cdb4a.vsidx
/src/DevOpsMetricsApp/.vs/DevOpsMetricsApp/FileContentIndex/b8290247-54d5-4e67-865e-7a03cb1045d4.vsidx
/src/DevOpsMetricsApp/.vs/DevOpsMetricsApp/FileContentIndex/ff8e364e-d108-470d-a01c-3ac67c09712a.vsidx
/src/DevOpsMetricsApp/.vs/DevOpsMetricsApp/FileContentIndex/9d40afbc-d09b-4b83-b666-80585cad3a8e.vsidx
